<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="http://www.keleyi.com/keleyi/pmedia/jquery-1.9.1.min.js"></script>
		<title></title>
	</head>
	<body>
	<textarea id="user1" cols="30" rows="5">点击按钮后，这些文字将被清空。http:www.keleyi.com 柯乐义</textarea>
	<br />
	<input type="button" id="" onclick = "ClearTextArea()" value="清空" />
	</body>
	<script type="text/javascript">
		function ClearTextArea()
		  {
		     document.getElementById("user1").value="";
		  } 
	</script>
</html>
