<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美哆链接集合</title>
    <style type="text/css">

    </style>
</head>
<body>
<table border="1" width="1900px">
    <tr>
        <th colspan="3">
            <h1>美哆链接集合</h1>
        </th>
    </tr>
    <tr>
        <th rowspan="2">如丽APP</th>
        <td>测试环境</td>
        <td>
            <ul>
                <li>API：www.baidu.com</li>
                <li>后台：www.baidu.com</li>
            </ul>
        </td>

    </tr>

    <tr>
        <td >正式环境</td>
        <td>
            <ul>
                <li>API：www.baidu.com</li>
                <li>后台：www.baidu.com</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th colspan="3" >
            植发
        </th>
    </tr>
    <tr>
        <td>测试环境</td>
        <td colspan="3">
            <ul>
                <li>API：www.baidu.com</li>
                <li>后台：www.baidu.com</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>正式环境</td>
        <td colspan="3">
            <ul>
                <li>API：www.baidu.com</li>
                <li>后台：www.baidu.com</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th rowspan="2">综合</th>
        <td>测试环境</td>
        <td>
            <ul>
                <li>API：www.baidu.com</li>
                <li>后台：www.baidu.com</li>
            </ul>
        </td>

    </tr>

    <tr>
        <td >正式环境</td>
        <td>
            <ul>
                <li>API：www.baidu.com</li>
                <li>后台：www.baidu.com</li>
            </ul>
        </td>
    </tr>
</table>
</body>
</html>