			*{
				margin: 0;
				padding: 0;
			}
			body{
				background: #f5f5f5;
				font-family: arial, 宋体, sans-serif, tahoma, "Microsoft YaHei", 微软雅黑, 宋体;
			}
			/* 头部样式 */
			.toubu{
				width: 100%;
				height: 60px;
				background: #ffffff;
				position: fixed;
				z-index: 200;
			}
			.toubu p{
				float: right;
				position: relative;
				top: 20px;
				right: 300px;
				border: 2px solid #6ccac9;
				border-radius: 5px;
				color: black;
				font-weight: 900;
			}
			.toubuh1{
				float: left;
				line-height: 60px;
				margin-left: 30px;
				font-weight: 900;
			}
			.toubuh1 a{
				text-decoration: none;
				color: #6ccac9;
			}
	
			.toubulist li,.toubulist a{
				float: right;
				list-style: none;
				margin-left:20px;
				line-height: 60px;
				font-size: 23px;
				font-weight: 900;
				text-decoration: none;
				color: #444;
			}
			.toubuh1{
				clear: both;
				overflow: hidden;
			}
			/* 登录栏样式 */
			.login_user{
				float: right;
				width: 150px;
				height: 45px;
				border: 1px solid #e6e6e6;
				border-radius: 5px;
				position: relative;
				top: 7px;
				left: 230px;
			}
			.login_list_li{
				width: auto;
				height: auto;
				background: #ffffff;
				position: relative;
				top: 200px;
			}
			.login_user li{
				list-style: none;
				position: relative;
				left: 30px;
				bottom: 30px;
				font-weight: 600;
			}
			.login_user li li{
				position: relative;
				top: 20px;
				right:80px;
			}
			.login_list{
				display: none;
			}
			li:hover .login_list{
				display: block;
			}
			/* 导航样式 */
			.daohang{
				width: 180px;
				background:#ffffff;
				position: fixed;
				border-radius: 8px;
				left: 30px;
				top: 80px;
			}
			.daohangh2{
				border-bottom: 1px solid #e6e6e6;
			}
			.daohanglist li{
				list-style: url(../img/chaxun5.png);
				margin: 23px 30px;
				font-size: 20px;
			}
			.daohanglist li li{
				list-style: none;
				font-size: 16px;
				margin: 10px 0;
			}
			.daohanglist_none{
				display: none;
			}
			li:hover .daohanglist_none{
				display: block;
			}
			.daohanglist_none a{
				text-decoration: none;
			}
			/* 内容样式 */
			.neirong{
				width:1650px ;
				min-height: 800px;
				position: relative;
				left: 240px;
				top: 80px;
			}
			.neirong p,a{
				position: relative;
				left: 10px;
				padding: 10px;
				text-decoration: none;
			}
			/* 首页内容样式 */
			.neirongbackgroundimg{
				width:1650px ;
				min-height: 800px;
				background: url(../img/backimg3.jpg) no-repeat;
				background-size: cover;
				z-index: 199;
				border-radius:10px;
				border: 1px solid #e6e6e6;
				border-top:1px solid #e6e6e6;
			}
			/* 用户信息内容样式 */
			.box{
				width: 1900;
				height: 800px;
				background-color:#ffffff ;
				border: 1px solid mediumturquoise;
				border-radius: 5px;
			}
			.box-yzm{
				width: 400px;
				height: 400px;
				background-color: #f5f5f5;
				border: 1px solid #409eff ;
				position: absolute;
				left: 300px;
				top: 200px;
				text-align: center;
				line-height:380px;
				font-size: 40px;
				transition: all 1000ms 0ms ease;
				z-index: 199;
			}
			.yzm_select{
				width: 1200px;
				height: 500px;
				background-color:#eedeb0;
				border-radius: 8px;
				position: absolute;
				left: 250px;
				top: 180px;
				z-index: 200;
				display: none;
			}
			.yzm_comment{
				width: 1100px;
				height: 200px;
				background-color: white;
				margin-left: 50px;
			}
			.box-tk{
				width: 400px;
				height: 400px;
				background-color: #f5f5f5;
				border: 1px solid #409eff ;
				position: relative;
				left: 900px;
				top:160px;
				text-align: center;
				line-height:380px;
				font-size: 30px;
				transition: all 1000ms 0ms ease;
				z-index: 199;
			}
			.tk_select{
				width: 1200px;
				height: 500px;
				background-color:#eedeb0;
				border-radius: 8px;
				position: absolute;
				left: 250px;
				top: 180px;
				z-index: 200;
				display: none;
			}
			.tk_comment{
				width: 1100px;
				height: 200px;
				background-color: white;
				margin-left: 50px;
			}
			.box-yzm:hover,.box-tk:hover{
				transform: translate3d(0,10px,0);
				text-shadow: 8px 8px 30px black;
				font-size: 50px;
			}
			/*美哆链接样式 */
			.lk_list{
				width: 1649px;
				min-height: 760px;
				border: 1px solid darkgrey;
				border-radius: 5px;
			}
			.ss_list{
				width: 1600px;
				height: 80px;
				background: #f2f2f2;
				margin: 15px 25px;
				border-radius: 5px;
			}
			.anniu{
				float: right;
				width: 150px;
				height: 40px;
				margin: 20px 100px;
				font-size: 25px;
				font-family:微软雅黑;
				border-radius: 5px;
				background-color:#409EFF;
				
			}
			.addurl{
				width: 500px;
				height: 400px;
				background-color: #6CCAC9;
				display: none;
				position: absolute;
				bottom:200px;
				left: 500px;
			}
			.addcomment p{
				display: inline-block;
			}
			.addcomment .jianju{
				margin: 8px;
			}
				