<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
     <h1>用户输入：</h1>
    <form action="/index/" method="post">
        {% csrf_token %}   <!--加入这行 -->
        名字：<input type="text" name="name" /><br />
        年龄：<input type="text" name="age" /><br />
        <input type="submit" value="提交" />
    </form>

    <h1>用户展示：</h1>
        <table border="1">
            <thead>
                <tr>名字</tr>
                <tr>年龄</tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td width=200px height="50px" align="center">{{ item.user }}</td>
                    <td width=200px height="50px" align="center">{{ item.pwd }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>